/* ==================================================
   RESET
================================================== */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

/* ==================================================
   CORES
================================================== */

/*
FUNDO: #4b4960
CAIXAS: #3e3b52
ROXO: #d8c8ff
HOVER: #c9b4ff
*/

/* ==================================================
   LOGIN
================================================== */

.login-page{
    background-color: #4b4960;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container{
    width: 100%;
    max-width: 1200px;
}

.icon-user{
    font-size: 320px;
    color: #d8c8ff;
}

.login-box{
    color: white;
}

.login-box h5{
    font-size: 30px;
    margin-bottom: 40px;
    font-style: italic;
}

.login-page .form-label{
    color: white;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 10px;
}

.login-page .form-control{
    background-color: #d8c8ff;
    border: none;
    border-radius: 30px;
    height: 42px;
}

.login-page .form-control:focus{
    background-color: #d8c8ff;
    box-shadow: none;
}

.btn-login{
    background-color: #d8c8ff;
    color: #3e3b52;
    border: none;
    border-radius: 30px;
    padding: 10px 35px;
    font-size: 20px;
    font-weight: bold;
    text-decoration: none;
}

.btn-login:hover{
    background-color: #c9b4ff;
}

.links a,
.forgot-password a{
    color: #d8c8ff;
    text-decoration: none;
    font-weight: bold;
}

.forgot-password{
    margin-top: 70px;
    text-align: center;
}

/* ==================================================
   CADASTRO
================================================== */

.register-page{
    background-color: #4b4960;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.register-page .container{
    max-width: 700px;
}

.top-area{
    margin-bottom: 20px;
}

.icon-area i{
    font-size: 110px;
    color: #d8c8ff;
}

.title-area{
    margin-left: 20px;
}

.title-area h3{
    color: white;
    font-size: 32px;
    font-weight: bold;
}

.register-box{
    background-color: #3e3b52;
    padding: 50px;
    border-radius: 35px;
}

.register-page .form-label{
    width: 100%;
    text-align: center;
    color: white;
    font-size: 20px;
    font-style: italic;
    margin-bottom: 10px;
}

.register-page .form-control{
    background-color: #d8c8ff;
    border: none;
    border-radius: 30px;
    height: 45px;
}

.register-page .form-control:focus{
    background-color: #d8c8ff;
    box-shadow: none;
}

.btn-register{
    background-color: #d8c8ff;
    color: #3e3b52;
    border: none;
    border-radius: 30px;
    padding: 10px 35px;
    font-size: 22px;
    font-weight: bold;
    text-decoration: none;
}

.btn-register:hover{
    background-color: #c9b4ff;
}

/* ==================================================
   HOME
================================================== */

.dashboard-page{
    background-color: #4b4960;
    min-height: 100vh;
}

.navbar-custom{
    background-color: #d8c8ff;
    padding: 15px 0;
}

.navbar-nav{
    gap: 30px;
}

.nav-link{
    color: #3e3b52;
    font-size: 22px;
    font-weight: bold;
}

.sidebar{
    padding-top: 70px;
    padding-left: 70px;

    display: flex;
    flex-direction: column;
    gap: 50px;
}

.menu-btn{
    background-color: #d8c8ff;
    color: #3e3b52;

    border: none;
    border-radius: 30px;

    width: 260px;
    height: 55px;

    font-size: 22px;

    display: flex;
    justify-content: center;
    align-items: center;

    text-decoration: none;
}

.menu-btn:hover{
    background-color: #c9b4ff;
}

.main-content{
    padding-top: 70px;
    text-align: center;
}

.main-content h1{
    color: white;
    font-size: 42px;
    font-weight: bold;
}

.main-content p{
    color: white;
    font-size: 22px;
    margin-bottom: 40px;
}

.image-box{
    background-color: #3e3b52;

    width: 500px;
    height: 420px;

    margin: auto;

    border-radius: 35px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.image-box img{
    width: 280px;
}

/* ==================================================
   CLIENTE
================================================== */

.client-page{
    background-color: #4b4960;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.client-page h2{
    color: white;
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 40px;
}

.client-box{
    background-color: #3e3b52;
    padding: 60px;
    border-radius: 35px;

    width: 700px;
}

.client-page .form-label{
    width: 100%;
    text-align: center;

    color: white;

    font-size: 20px;
    font-style: italic;
    font-weight: bold;

    margin-bottom: 10px;
}

.client-page .form-control{
    background-color: #d8c8ff;

    border: none;
    border-radius: 30px;

    height: 45px;
}

.client-page .form-control:focus{
    background-color: #d8c8ff;
    box-shadow: none;
}

.btn-client{
    background-color: #d8c8ff;
    color: #3e3b52;

    border: none;
    border-radius: 30px;

    padding: 12px 35px;

    font-size: 22px;
    font-weight: bold;

    text-decoration: none;
}

.btn-client:hover{
    background-color: #c9b4ff;
}

/* ==================================================
   PRODUTOS
================================================== */

.product-page{
    background-color: #4b4960;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.product-content{
    width: 100%;
    max-width: 700px;
}

.product-page h2{
    color: white;
    text-align: center;

    font-size: 32px;
    font-weight: bold;

    margin-bottom: 50px;
}

.product-box{
    background-color: #3e3b52;
    padding: 60px;
    border-radius: 35px;
}

.product-page .form-label{
    width: 100%;
    text-align: center;

    color: white;

    font-size: 20px;
    font-style: italic;
    font-weight: bold;

    margin-bottom: 10px;
}

.product-page .form-control{
    background-color: #d8c8ff;

    border: none;
    border-radius: 30px;

    height: 45px;
}

.product-page .form-control:focus{
    background-color: #d8c8ff;
    box-shadow: none;
}

.btn-product{
    background-color: #d8c8ff;
    color: #3e3b52;

    border: none;
    border-radius: 30px;

    padding: 12px 35px;

    font-size: 22px;
    font-weight: bold;

    text-decoration: none;
}

.btn-product:hover{
    background-color: #c9b4ff;
}

/* ==================================================
   EQUIPE / VENDEDOR / VENDA
================================================== */

.team-page,
.seller-page,
.sale-page{
    background-color: #4b4960;
    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.team-container,
.seller-container,
.sale-container{
    width: 100%;
    max-width: 900px;
}

.team-title,
.seller-title,
.sale-title{
    color: white;
    text-align: center;

    font-size: 32px;
    font-weight: bold;

    margin-bottom: 40px;
}

.team-box,
.seller-box,
.sale-box{
    background-color: #3e3b52;

    padding: 60px;

    border-radius: 35px;
}

.team-label,
.seller-label,
.sale-label{
    width: 100%;
    text-align: center;

    color: white;

    font-size: 20px;
    font-style: italic;
    font-weight: bold;

    margin-bottom: 10px;

    display: block;
}

.team-input,
.seller-input,
.sale-input{
    background-color: #d8c8ff !important;

    border: none !important;
    border-radius: 30px !important;

    height: 45px;
}

.team-input:focus,
.seller-input:focus,
.sale-input:focus{
    background-color: #d8c8ff !important;
    box-shadow: none !important;
}

.team-btn,
.seller-btn,
.sale-btn{
    background-color: #d8c8ff;
    color: #3e3b52;

    border: none;
    border-radius: 30px;

    padding: 12px 35px;

    font-size: 22px;
    font-weight: bold;

    text-decoration: none;
}

.team-btn:hover,
.seller-btn:hover,
.sale-btn:hover{
    background-color: #c9b4ff;
}

/* ==================================================
   RESPONSIVIDADE
================================================== */

@media(max-width:768px){

    .icon-user{
        font-size: 180px;
        margin-bottom: 30px;
    }

    .sidebar{
        padding-left: 0;
        align-items: center;
    }

    .image-box{
        width: 90%;
        height: auto;
        padding: 30px;
    }

    .image-box img{
        width: 200px;
    }

    .client-box,
    .product-box,
    .team-box,
    .seller-box,
    .sale-box,
    .register-box{
        padding: 30px;
        width: 95%;
    }

    .main-content h1{
        font-size: 30px;
    }
}

/* ====================================
CLIENTE
==================================== */

.client-page{
    background-color:#4b4960;

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.title-text{
    color:white;

    font-size:32px;
    font-weight:bold;

    margin-bottom:40px;
}

.card-cadastro{
    background-color:#3e3b52;

    padding:60px;

    border-radius:35px;

    width:700px;
}

.client-page .form-label{
    width:100%;

    text-align:center;

    color:white;

    font-size:20px;
    font-style:italic;
    font-weight:bold;

    margin-bottom:10px;
}

.custom-input{
    background-color:#d8c8ff;

    border:none;
    border-radius:30px;

    height:45px;
}

.custom-input:focus{
    background-color:#d8c8ff;

    box-shadow:none;
}

.btn-cadastrar{
    background-color:#d8c8ff;

    color:#3e3b52;

    border:none;
    border-radius:30px;

    padding:12px 35px;

    font-size:22px;
    font-weight:bold;
}

.btn-cadastrar:hover{
    background-color:#c9b4ff;
}

/* ====================================
RESPONSIVO CLIENTE
==================================== */

@media(max-width:768px){

    .card-cadastro{
        width:95%;

        padding:30px;
    }

}

/* ====================================
EQUIPE
==================================== */

.team-page{
    background-color:#4b4960;

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.team-container{
    width:100%;
    max-width:700px;
}

.team-title{
    color:white;

    text-align:center;

    font-size:32px;
    font-weight:bold;

    margin-bottom:40px;
}

.team-box{
    background-color:#3e3b52;

    padding:60px;

    border-radius:35px;
}

.team-label{
    width:100%;

    display:block;

    text-align:center;

    color:white;

    font-size:20px;
    font-style:italic;
    font-weight:bold;

    margin-bottom:10px;
}

.team-input{
    background-color:#d8c8ff !important;

    border:none !important;
    border-radius:30px !important;

    height:45px;
}

.team-input:focus{
    background-color:#d8c8ff !important;

    box-shadow:none !important;
}

.team-btn{
    background-color:#d8c8ff;

    color:#3e3b52;

    border:none;
    border-radius:30px;

    padding:12px 35px;

    font-size:22px;
    font-weight:bold;
}

.team-btn:hover{
    background-color:#c9b4ff;
}

/* ====================================
VENDEDOR
==================================== */

.seller-page{
    background-color:#4b4960;

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.seller-container{
    width:100%;
    max-width:700px;
}

.seller-title{
    color:white;

    text-align:center;

    font-size:32px;
    font-weight:bold;

    margin-bottom:40px;
}

.seller-box{
    background-color:#3e3b52;

    padding:60px;

    border-radius:35px;
}

.seller-label{
    width:100%;

    display:block;

    text-align:center;

    color:white;

    font-size:20px;
    font-style:italic;
    font-weight:bold;

    margin-bottom:10px;
}

.seller-input{
    background-color:#d8c8ff !important;

    border:none !important;
    border-radius:30px !important;

    height:45px;
}

.seller-input:focus{
    background-color:#d8c8ff !important;

    box-shadow:none !important;
}

.seller-btn{
    background-color:#d8c8ff;

    color:#3e3b52;

    border:none;
    border-radius:30px;

    padding:12px 35px;

    font-size:22px;
    font-weight:bold;
}

.seller-btn:hover{
    background-color:#c9b4ff;
}

/* ====================================
VENDA
==================================== */

.sale-page{
    background-color:#4b4960;

    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.sale-container{
    width:100%;
    max-width:1000px;
}

.sale-title{
    color:white;

    text-align:center;

    font-size:32px;
    font-weight:bold;

    margin-bottom:40px;
}

.sale-box{
    background-color:#3e3b52;

    padding:60px;

    border-radius:35px;
}

.sale-label{
    width:100%;

    display:block;

    text-align:center;

    color:white;

    font-size:18px;
    font-style:italic;
    font-weight:bold;

    margin-bottom:10px;
}

.sale-input{
    background-color:#d8c8ff !important;

    border:none !important;
    border-radius:30px !important;

    height:45px;
}

.sale-input:focus{
    background-color:#d8c8ff !important;

    box-shadow:none !important;
}

.sale-btn{
    background-color:#d8c8ff;

    color:#3e3b52;

    border:none;
    border-radius:30px;

    padding:12px 35px;

    font-size:22px;
    font-weight:bold;
}

.sale-btn:hover{
    background-color:#c9b4ff;
}

/* ====================================
RESPONSIVIDADE
==================================== */

@media(max-width:768px){

    .team-box,
    .seller-box,
    .sale-box{
        padding:30px;
    }

    .team-title,
    .seller-title,
    .sale-title{
        font-size:24px;
    }

}